<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="igv_final_please">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.590889009406364 -0.746383166579543 0.851044280532695"
        rpy="0 0 0" />
      <mass
        value="44.4579646133586" />
      <inertia
        ixx="2.8317115793364"
        ixy="6.48554599521391E-10"
        ixz="-7.74458447681979E-09"
        iyy="1.88451537995297"
        iyz="-0.00211942362107893"
        izz="2.52874495697593" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_L">
    <inertial>
      <origin
        xyz="-0.83677 -0.47294 0.17067"
        rpy="0 0 0" />
      <mass
        value="4.5297" />
      <inertia
        ixx="0.12385"
        ixy="-9.5165E-09"
        ixz="-3.0672E-08"
        iyy="0.062776"
        iyz="4.2824E-07"
        izz="0.062775" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/wheel_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/wheel_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_L"
    type="revolute">
    <origin
      xyz="0.16557 -0.28297 0.6883"
      rpy="-1.6617 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="wheel_L" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_R">
    <inertial>
      <origin
        xyz="-0.73872 -0.47294 0.17067"
        rpy="0 0 0" />
      <mass
        value="4.5297" />
      <inertia
        ixx="0.12385"
        ixy="-9.516E-09"
        ixz="-3.0673E-08"
        iyy="0.062776"
        iyz="4.2842E-07"
        izz="0.062775" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/wheel_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/wheel_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_R"
    type="revolute">
    <origin
      xyz="0.95962 -0.28297 0.6883"
      rpy="-2.7498 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel_R" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="caster_R">
    <inertial>
      <origin
        xyz="-0.58 -1.0442 -0.0048457"
        rpy="0 0 0" />
      <mass
        value="0.058308" />
      <inertia
        ixx="8.2551E-05"
        ixy="-7.3389E-23"
        ixz="-5.7753E-21"
        iyy="4.3819E-05"
        iyz="-7.9409E-23"
        izz="4.3819E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/caster_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/caster_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_R"
    type="revolute">
    <origin
      xyz="0.90162 -1.4654 0.51534"
      rpy="1.5615 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="caster_R" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="caster_L">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/caster_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_please/meshes/caster_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_L"
    type="revolute">
    <origin
      xyz="0.32162 -1.4653 0.51534"
      rpy="1.5615 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="caster_L" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>