<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="B">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.9931E-17 -4.9931E-17 4.9735E-18"
        rpy="0 0 0" />
      <mass
        value="277.94" />
      <inertia
        ixx="21.196"
        ixy="-6.7841"
        ixz="-0.0021537"
        iyy="33.463"
        iyz="-0.0014165"
        izz="37.559" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="WL">
    <inertial>
      <origin
        xyz="0.054679 2.6676E-06 2.498E-16"
        rpy="0 0 0" />
      <mass
        value="4.5297" />
      <inertia
        ixx="0.12385"
        ixy="2.3594E-08"
        ixz="5.5815E-10"
        iyy="0.062775"
        iyz="5.8663E-07"
        izz="0.062775" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/WL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/WL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="WL"
    type="revolute">
    <origin
      xyz="0.44371 0.34494 -0.28028"
      rpy="-3.0034 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="WL" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="WR">
    <inertial>
      <origin
        xyz="0.054679 -1.7346E-06 -2.0266E-06"
        rpy="0 0 0" />
      <mass
        value="4.5297" />
      <inertia
        ixx="0.12385"
        ixy="-2.0883E-08"
        ixz="-2.4398E-08"
        iyy="0.062775"
        iyz="-9.1968E-08"
        izz="0.062776" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/WR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/WR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="WR"
    type="revolute">
    <origin
      xyz="0.44371 -0.34506 -0.28028"
      rpy="-2.0022 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="WR" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="CL">
    <inertial>
      <origin
        xyz="0 0 0.034834"
        rpy="0 0 0" />
      <mass
        value="0.23719" />
      <inertia
        ixx="0.00016597"
        ixy="3.3881E-21"
        ixz="-7.473E-21"
        iyy="0.00016597"
        iyz="-5.179E-21"
        izz="0.00029454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/CL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/CL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="CL"
    type="revolute">
    <origin
      xyz="-0.68679 0.25494 -0.42528"
      rpy="-1.5708 -0.39309 0" />
    <parent
      link="base_link" />
    <child
      link="CL" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="CR">
    <inertial>
      <origin
        xyz="0 0 0.034834"
        rpy="0 0 0" />
      <mass
        value="0.23719" />
      <inertia
        ixx="0.00016597"
        ixy="-6.7763E-21"
        ixz="-1.0152E-20"
        iyy="0.00016597"
        iyz="4.392E-21"
        izz="0.00029454" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/CR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://B/meshes/CR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="CR"
    type="revolute">
    <origin
      xyz="-0.68679 -0.25506 -0.42528"
      rpy="-1.5708 -1.2021 3.1416" />
    <parent
      link="base_link" />
    <child
      link="CR" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>