<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="igv_final_1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0347114051526544 -0.123777607901242 0.0820892496165727"
        rpy="0 0 0" />
      <mass
        value="0.325132741228718" />
      <inertia
        ixx="0.000351943944995061"
        ixy="1.48892510259545E-20"
        ixz="-1.04636803417482E-22"
        iyy="0.000624650438049591"
        iyz="2.23656712893325E-20"
        izz="0.000955337745983216" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel1">
    <inertial>
      <origin
        xyz="0.0797114051526544 -0.183777607901242 0.0820892496165727"
        rpy="0 0 0" />
      <mass
        value="0.0502654824574367" />
      <inertia
        ixx="1.42418866962737E-05"
        ixy="-2.82344315751433E-22"
        ixz="1.05587323873364E-38"
        iyy="2.51327412287183E-05"
        iyz="-6.66850482949345E-22"
        izz="1.42418866962737E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/wheel1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel1" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel4">
    <inertial>
      <origin
        xyz="0.0797114051526544 -0.0637776079012417 0.0820892496165727"
        rpy="0 0 0" />
      <mass
        value="0.0502654824574367" />
      <inertia
        ixx="1.42418866962737E-05"
        ixy="3.52930394689292E-23"
        ixz="-8.89030378337326E-39"
        iyy="2.51327412287184E-05"
        iyz="-6.66850482949346E-22"
        izz="1.42418866962737E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/wheel4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/wheel4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel4"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel2">
    <inertial>
      <origin
        xyz="-0.0102885948473456 -0.183777607901242 0.0820892496165727"
        rpy="0 0 0" />
      <mass
        value="0.0502654824574367" />
      <inertia
        ixx="1.42418866962737E-05"
        ixy="-2.82344315751433E-22"
        ixz="1.05587323873364E-38"
        iyy="2.51327412287183E-05"
        iyz="-6.66850482949345E-22"
        izz="1.42418866962737E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel3">
    <inertial>
      <origin
        xyz="-0.0102885948473456 -0.0637776079012417 0.0820892496165727"
        rpy="0 0 0" />
      <mass
        value="0.0502654824574367" />
      <inertia
        ixx="1.42418866962737E-05"
        ixy="3.52930394689293E-23"
        ixz="-8.89030378337326E-39"
        iyy="2.51327412287184E-05"
        iyz="-6.66850482949346E-22"
        izz="1.42418866962737E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/wheel3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_1/meshes/wheel3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel3"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>