<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="igv_final_2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.74599256696404E-17 -0.01 2.60519117223708E-18"
        rpy="0 0 0" />
      <mass
        value="0.325132741228718" />
      <inertia
        ixx="0.000351943944995061"
        ixy="-4.42031378597748E-21"
        ixz="-2.52124650706163E-20"
        iyy="0.000955337745983216"
        iyz="-2.28612513537026E-36"
        izz="0.000624650438049591" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel4">
    <inertial>
      <origin
        xyz="6.93889390390723E-18 0 -0.01"
        rpy="0 0 0" />
      <mass
        value="0.0502654824574367" />
      <inertia
        ixx="1.42418866962737E-05"
        ixy="-8.470329472543E-22"
        ixz="-2.60809356127663E-22"
        iyy="1.42418866962737E-05"
        iyz="-1.0815171008088E-22"
        izz="2.51327412287184E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/wheel4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/wheel4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel4"
    type="revolute">
    <origin
      xyz="0.045 -0.05 -0.01"
      rpy="1.5708 0.39309 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="wheel4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel1">
    <inertial>
      <origin
        xyz="0 1.73472347597681E-18 -0.01"
        rpy="0 0 0" />
      <mass
        value="0.0502654824574367" />
      <inertia
        ixx="1.42418866962737E-05"
        ixy="-6.72929976440549E-39"
        ixz="-8.11709805894804E-38"
        iyy="1.42418866962737E-05"
        iyz="-3.64261656012912E-38"
        izz="2.51327412287184E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/wheel1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/wheel1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel1"
    type="revolute">
    <origin
      xyz="0.045 0.05 -0.01"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel2">
    <inertial>
      <origin
        xyz="6.93889390390723E-18 1.73472347597681E-18 -0.01"
        rpy="0 0 0" />
      <mass
        value="0.0502654824574367" />
      <inertia
        ixx="1.42418866962737E-05"
        ixy="-6.72929976440549E-39"
        ixz="-8.11709805894804E-38"
        iyy="1.42418866962737E-05"
        iyz="-3.64261656012912E-38"
        izz="2.51327412287184E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/wheel2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/wheel2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel2"
    type="revolute">
    <origin
      xyz="-0.045 0.05 -0.01"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="wheel2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel3">
    <inertial>
      <origin
        xyz="-6.93889390390723E-18 0 -0.01"
        rpy="0 0 0" />
      <mass
        value="0.0502654824574367" />
      <inertia
        ixx="1.42418866962737E-05"
        ixy="0"
        ixz="3.68961066208544E-22"
        iyy="1.42418866962737E-05"
        iyz="-1.52657646046783E-22"
        izz="2.51327412287184E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/wheel3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://igv_final_2/meshes/wheel3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel3"
    type="revolute">
    <origin
      xyz="-0.045 -0.05 -0.01"
      rpy="1.5708 0.39309 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="wheel3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>